body {
  margin : 0;
}
h1 {
    text-align : center;
    font-size : 3em;
    font-style : italic;
    font-family : Impact, Charcoal, sans-serif;
    font-weight : lighter;
    word-spacing: 5px;
    padding : 20px;
    margin-top : 20px;
    margin-bottom : 10px;
    color : white;
    background-image: linear-gradient(to right, rgb(75, 168, 178), rgb(114, 121, 128), rgb(42, 60, 95)
    );
  }
  a {
    text-decoration : none;
    color : inherit;
  }
  .navbar {
    background-color: rgb(42, 60, 95);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .navbar > li { float: left; }
  .navbar > li a {
    display: block;
    background-color: rgb(42, 60, 95);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 8px;
  }
  .navbar > li a:hover {
    background-color: rgb(114, 121, 128);
    color: white;
  }

